.heading-contact{
    border-bottom: 1px solid black;
    color: rgb(119, 52, 52);
}

.heading-contact-organi{
    border-bottom: 1px solid black;
    color: rgb(119, 52, 52);
}
span{
    color: rgba(221, 47, 47, 0.75);
}