.button-reading-more-products{
    background-color: blueviolet;
    padding: 1%;
    width: 15%;
    /* height: 10px; */
    box-sizing: border-box;
    border-radius: 6px;
    color: wheat;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.first-service-container-left{
    text-align: center;
}